In [1]:
# Importing Dependencies
import warnings
warnings.filterwarnings("ignore")

from bs4 import BeautifulSoup as soup
import requests
import pandas as pd
from splinter import Browser
import matplotlib.pyplot as plt
from pprint import pprint
import json

Alcohol Consumption by State - 2022 [link](https://wisevoter.com/state-rankings/alcohol-consumption-by-state/)

In [2]:
# Assigning our browser of choice
browser = Browser('chrome')

In [3]:
# Using splinter to connect to our URL with the data we want to scrape
url = "https://wisevoter.com/state-rankings/alcohol-consumption-by-state/"
browser.visit(url)

In [4]:
# Assigning our html element to a variable
html = browser.html
soup1 = soup(html, 'html.parser')

In [5]:
# Scrape and extract the headings from the consumption data
headings = soup1.find_all('th', class_="sorting")

heading_list = []

for heading in headings[1:]:
    name = heading.text
    heading_list.append(name)

heading_list

['State',
 'Alcohol Consumption Per Capita',
 'Ethanol Consumption Per Capita',
 'Beer Consumption Per Capita',
 'Wine Consumption Per Capita']

In [6]:
# Repeat the same process for the rows in our table
rows = soup1.find_all("tr", class_=["even", "odd"])
row_list = []

for row in rows:
    elements = row.find_all('td')
    element_list = []
    for element in elements[1:]:
        text = element.text
        element_list.append(text)
    row_list.append(element_list)

row_list

[['New Hampshire', '59.5 gal', '4.83 gal', '1.89 gal', '0.84 gal'],
 ['Vermont', '49.4 gal', '3.22 gal', '1.63 gal', '0.76 gal'],
 ['Montana', '48.7 gal', '3.32 gal', '1.66 gal', '0.54 gal'],
 ['North Dakota', '43.9 gal', '3.26 gal', '1.48 gal', '0.33 gal'],
 ['Nevada', '41.7 gal', '3.43 gal', '1.32 gal', '0.59 gal'],
 ['Maine', '40.4 gal', '2.99 gal', '1.37 gal', '0.44 gal'],
 ['Delaware', '40.1 gal', '4.01 gal', '1.12 gal', '0.77 gal'],
 ['District of Columbia', '39.2 gal', '3.79 gal', '1.07 gal', '1.01 gal'],
 ['Wisconsin', '39.2 gal', '3.11 gal', '1.27 gal', '0.42 gal'],
 ['Hawaii', '38.7 gal', '2.71 gal', '1.28 gal', '0.6 gal'],
 ['Pennsylvania', '37.6 gal', '2.32 gal', '1.33 gal', '0.32 gal'],
 ['South Dakota', '37.6 gal', '2.34 gal', '1.34 gal', '0.22 gal'],
 ['Texas', '36.9 gal', '2.41 gal', '1.25 gal', '0.35 gal'],
 ['Louisiana', '36.6 gal', '2.59 gal', '1.24 gal', '0.34 gal'],
 ['Iowa', '36.4 gal', '2.5 gal', '1.26 gal', '0.23 gal'],
 ['Colorado', '36.2 gal', '2.97 gal', '1.13 gal', '0.51 gal'],
 ['Minnesota', '35.2 gal', '2.85 gal', '1.11 gal', '0.44 gal'],
 ['Oregon', '35.2 gal', '2.71 gal', '1.13 gal', '0.54 gal'],
 ['New Mexico', '34.9 gal', '2.3 gal', '1.2 gal', '0.31 gal'],
 ['Mississippi', '34.6 gal', '2.39 gal', '1.19 gal', '0.22 gal'],
 ['California', '34.5 gal', '2.63 gal', '1.07 gal', '0.62 gal'],
 ['Nebraska', '34.1 gal', '2.17 gal', '1.19 gal', '0.22 gal'],
 ['Missouri', '33.7 gal', '2.68 gal', '1.09 gal', '0.39 gal'],
 ['Alaska', '33.5 gal', '2.83 gal', '1.02 gal', '0.51 gal'],
 ['Florida', '33.2 gal', '2.74 gal', '1.03 gal', '0.56 gal'],
 ['Illinois', '32.7 gal', '2.42 gal', '1.05 gal', '0.47 gal'],
 ['North Carolina', '32.7 gal', '2.31 gal', '1.06 gal', '0.47 gal'],
 ['Wyoming', '32.7 gal', '2.94 gal', '1.2 gal', '0.33 gal'],
 ['Ohio', '32.2 gal', '2.12 gal', '1.11 gal', '0.31 gal'],
 ['Arizona', '31.8 gal', '2.24 gal', '1.05 gal', '0.38 gal'],
 ['Michigan', '31.6 gal', '2.53 gal', '1 gal', '0.42 gal'],
 ['Kansas', '31 gal', '2.12 gal', '1.08 gal', '0.14 gal'],
 ['South Carolina', '30.6 gal', '2.12 gal', '1.06 gal', '0.24 gal'],
 ['Virginia', '30.6 gal', '2.27 gal', '0.96 gal', '0.53 gal'],
 ['West Virginia', '30.6 gal', '1.82 gal', '1.14 gal', '0.11 gal'],
 ['Alabama', '30.3 gal', '2.08 gal', '1.04 gal', '0.25 gal'],
 ['Tennessee', '29.9 gal', '2.3 gal', '0.97 gal', '0.35 gal'],
 ['Massachusetts', '29.6 gal', '2.62 gal', '0.85 gal', '0.62 gal'],
 ['Indiana', '29.5 gal', '2.34 gal', '0.94 gal', '0.34 gal'],
 ['Rhode Island', '29 gal', '2.71 gal', '0.82 gal', '0.55 gal'],
 ['New Jersey', '28.8 gal', '2.63 gal', '0.82 gal', '0.61 gal'],
 ['Washington', '28.4 gal', '2.26 gal', '0.88 gal', '0.51 gal'],
 ['Oklahoma', '28.2 gal', '1.85 gal', '0.98 gal', '0.19 gal'],
 ['Connecticut', '28 gal', '2.5 gal', '0.79 gal', '0.6 gal'],
 ['Georgia', '27.6 gal', '1.91 gal', '0.93 gal', '0.25 gal'],
 ['Kentucky', '27.4 gal', '2.12 gal', '0.91 gal', '0.24 gal'],
 ['New York', '27.4 gal', '2.22 gal', '0.84 gal', '0.51 gal'],
 ['Arkansas', '27.1 gal', '1.92 gal', '0.91 gal', '0.26 gal'],
 ['Idaho', '26.5 gal', '2.1 gal', '0.83 gal', '0.32 gal'],
 ['Maryland', '25.4 gal', '2.15 gal', '0.77 gal', '0.4 gal'],
 ['Utah', '17.7 gal', '1.36 gal', '0.55 gal', '0.2 gal']]

In [7]:
# Converting the scraped elements into a dataframe and converting necessary data types into floats
df = pd.DataFrame(row_list, columns=heading_list)
df["Alcohol Consumption Per Capita"]=df["Alcohol Consumption Per Capita"].astype("str").str.replace(" gal","").astype("float64")
df["Ethanol Consumption Per Capita"]=df["Ethanol Consumption Per Capita"].astype("str").str.replace(" gal","").astype("float64")
df["Beer Consumption Per Capita"]=df["Beer Consumption Per Capita"].astype("str").str.replace(" gal","").astype("float64")
df["Wine Consumption Per Capita"]=df["Wine Consumption Per Capita"].astype("str").str.replace(" gal","").astype("float64")

# Confirming data types
df.dtypes

State                              object
Alcohol Consumption Per Capita    float64
Ethanol Consumption Per Capita    float64
Beer Consumption Per Capita       float64
Wine Consumption Per Capita       float64
dtype: object

In [8]:
# Checking our dataframe
df.head()

,State,Alcohol Consumption Per Capita,Ethanol Consumption Per Capita,Beer Consumption Per Capita,Wine Consumption Per Capita
0,New Hampshire,59.5,4.83,1.89,0.84
1,Vermont,49.4,3.22,1.63,0.76
2,Montana,48.7,3.32,1.66,0.54
3,North Dakota,43.9,3.26,1.48,0.33
4,Nevada,41.7,3.43,1.32,0.59

In [9]:
# Using another URL to scrape our longitudes and latitudes
url1 = "https://inkplant.com/code/state-latitudes-longitudes"
browser.visit(url1)

In [10]:
# Assigning the html to another variable
html1 = browser.html
soup2 = soup(html1, 'html.parser')

In [11]:
# Creating a table element
table = soup2.find("table",class_="table table-hover")
table

<table class="table table-hover"><thead><tr><td>State</td><td>Latitude</td><td>Longitude</td></tr></thead><tbody><tr><td>Alabama</td><td>32.806671</td><td>-86.791130</td></tr><tr><td>Alaska</td><td>61.370716</td><td>-152.404419</td></tr><tr><td>Arizona</td><td>33.729759</td><td>-111.431221</td></tr><tr><td>Arkansas</td><td>34.969704</td><td>-92.373123</td></tr><tr><td>California</td><td>36.116203</td><td>-119.681564</td></tr><tr><td>Colorado</td><td>39.059811</td><td>-105.311104</td></tr><tr><td>Connecticut</td><td>41.597782</td><td>-72.755371</td></tr><tr><td>Delaware</td><td>39.318523</td><td>-75.507141</td></tr><tr><td>District of Columbia</td><td>38.897438</td><td>-77.026817</td></tr><tr><td>Florida</td><td>27.766279</td><td>-81.686783</td></tr><tr><td>Georgia</td><td>33.040619</td><td>-83.643074</td></tr><tr><td>Hawaii</td><td>21.094318</td><td>-157.498337</td></tr><tr><td>Idaho</td><td>44.240459</td><td>-114.478828</td></tr><tr><td>Illinois</td><td>40.349457</td><td>-88.986137</td></tr><tr><td>Indiana</td><td>39.849426</td><td>-86.258278</td></tr><tr><td>Iowa</td><td>42.011539</td><td>-93.210526</td></tr><tr><td>Kansas</td><td>38.526600</td><td>-96.726486</td></tr><tr><td>Kentucky</td><td>37.668140</td><td>-84.670067</td></tr><tr><td>Louisiana</td><td>31.169546</td><td>-91.867805</td></tr><tr><td>Maine</td><td>44.693947</td><td>-69.381927</td></tr><tr><td>Maryland</td><td>39.063946</td><td>-76.802101</td></tr><tr><td>Massachusetts</td><td>42.230171</td><td>-71.530106</td></tr><tr><td>Michigan</td><td>43.326618</td><td>-84.536095</td></tr><tr><td>Minnesota</td><td>45.694454</td><td>-93.900192</td></tr><tr><td>Mississippi</td><td>32.741646</td><td>-89.678696</td></tr><tr><td>Missouri</td><td>38.456085</td><td>-92.288368</td></tr><tr><td>Montana</td><td>46.921925</td><td>-110.454353</td></tr><tr><td>Nebraska</td><td>41.125370</td><td>-98.268082</td></tr><tr><td>Nevada</td><td>38.313515</td><td>-117.055374</td></tr><tr><td>New Hampshire</td><td>43.452492</td><td>-71.563896</td></tr><tr><td>New Jersey</td><td>40.298904</td><td>-74.521011</td></tr><tr><td>New Mexico</td><td>34.840515</td><td>-106.248482</td></tr><tr><td>New York</td><td>42.165726</td><td>-74.948051</td></tr><tr><td>North Carolina</td><td>35.630066</td><td>-79.806419</td></tr><tr><td>North Dakota</td><td>47.528912</td><td>-99.784012</td></tr><tr><td>Ohio</td><td>40.388783</td><td>-82.764915</td></tr><tr><td>Oklahoma</td><td>35.565342</td><td>-96.928917</td></tr><tr><td>Oregon</td><td>44.572021</td><td>-122.070938</td></tr><tr><td>Pennsylvania</td><td>40.590752</td><td>-77.209755</td></tr><tr><td>Rhode Island</td><td>41.680893</td><td>-71.511780</td></tr><tr><td>South Carolina</td><td>33.856892</td><td>-80.945007</td></tr><tr><td>South Dakota</td><td>44.299782</td><td>-99.438828</td></tr><tr><td>Tennessee</td><td>35.747845</td><td>-86.692345</td></tr><tr><td>Texas</td><td>31.054487</td><td>-97.563461</td></tr><tr><td>Utah</td><td>40.150032</td><td>-111.862434</td></tr><tr><td>Vermont</td><td>44.045876</td><td>-72.710686</td></tr><tr><td>Virginia</td><td>37.769337</td><td>-78.169968</td></tr><tr><td>Washington</td><td>47.400902</td><td>-121.490494</td></tr><tr><td>West Virginia</td><td>38.491226</td><td>-80.954453</td></tr><tr><td>Wisconsin</td><td>44.268543</td><td>-89.616508</td></tr><tr><td>Wyoming</td><td>42.755966</td><td>-107.302490</td></tr></tbody></table>

In [12]:
# Scraping headings from our table element
headings1 = soup2.find_all('thead')

column_names = []
for td in headings1[0].find_all('td'):
    column_names.append(td.text)

column_names

['State', 'Latitude', 'Longitude']

In [13]:
# Scraping rows
tbody = soup2.find_all("tbody")
trs = tbody[0].find_all("tr")

row_list = []

for tr in trs:
    elements = tr.find_all('td')
    element_list = []
    for element in elements:
        text = element.text
        element_list.append(text)
    row_list.append(element_list)

row_list[:5]

[['Alabama', '32.806671', '-86.791130'],
 ['Alaska', '61.370716', '-152.404419'],
 ['Arizona', '33.729759', '-111.431221'],
 ['Arkansas', '34.969704', '-92.373123'],
 ['California', '36.116203', '-119.681564']]

In [14]:
# Using the scraped information to transfer into a data frame
state_locations = pd.DataFrame(row_list, columns=column_names)
state_locations.head()

        State   Latitude    Longitude
0     Alabama  32.806671   -86.791130
1      Alaska  61.370716  -152.404419
2     Arizona  33.729759  -111.431221
3    Arkansas  34.969704   -92.373123
4  California  36.116203  -119.681564

In [15]:
# Using a for loop to match longitude and latitude to it's respective state
df["Latitude"]=None
df["Longitude"]=None

for index, row in df.iterrows():
    state_name = row['State']
    
    location_row = state_locations.loc[state_locations['State'] == state_name]
    
    if not location_row.empty:
        # If a matching row is found, assign the longitude and latitude values
        df.at[index, 'Longitude'] = location_row['Longitude'].values[0]
        df.at[index, 'Latitude'] = location_row['Latitude'].values[0]

df.head()

,State,Alcohol Consumption Per Capita,Ethanol Consumption Per Capita,Beer Consumption Per Capita,Wine Consumption Per Capita,Latitude,Longitude
0,New Hampshire,59.5,4.83,1.89,0.84,43.452492,-71.563896
1,Vermont,49.4,3.22,1.63,0.76,44.045876,-72.710686
2,Montana,48.7,3.32,1.66,0.54,46.921925,-110.454353
3,North Dakota,43.9,3.26,1.48,0.33,47.528912,-99.784012
4,Nevada,41.7,3.43,1.32,0.59,38.313515,-117.055374

In [16]:
# Changing data types
df["Latitude"]=df["Latitude"].astype("float64")
df["Longitude"]=df["Longitude"].astype("float64")
df.head()

,State,Alcohol Consumption Per Capita,Ethanol Consumption Per Capita,Beer Consumption Per Capita,Wine Consumption Per Capita,Latitude,Longitude
0,New Hampshire,59.5,4.83,1.89,0.84,43.452492,-71.563896
1,Vermont,49.4,3.22,1.63,0.76,44.045876,-72.710686
2,Montana,48.7,3.32,1.66,0.54,46.921925,-110.454353
3,North Dakota,43.9,3.26,1.48,0.33,47.528912,-99.784012
4,Nevada,41.7,3.43,1.32,0.59,38.313515,-117.055374

In [17]:
# Confirming the change of data types
df.dtypes

State                              object
Alcohol Consumption Per Capita    float64
Ethanol Consumption Per Capita    float64
Beer Consumption Per Capita       float64
Wine Consumption Per Capita       float64
Latitude                          float64
Longitude                         float64
dtype: object

In [18]:
# Converting our final dataframe into a JSON 
df.to_json("Data/JSON_Files/Alcohol_Consumption_by_State_2022.json", orient="records")

In [19]:
# Exiting our browser
browser.quit()